@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.backgroundImage {
  background-image: url('https://nextui.org/images/hero-card.jpeg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
} */

